* {
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma;
}

div.Box {
    position: relative;
    border: 4px solid gray;
    width: 450px;
    height: 550px;
    left: 150px;
    top: 100px;
    border-radius: 20px;
    overflow: hidden;
}

div.img {
    position: absolute;
    width: 100%;
    height: 550px;
    z-index: 1;
}

div.img img{
    width: 100%;
    height: 100%;
}

div.content {
    position:absolute;
    width: 150px;
    height: 150px;
    color: #fff;
    z-index: 2;
    background-color:  rgba(135, 206, 250, 0);
    border: 6px solid hsl(60, 2%, 8%);
    padding: 20px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}