* {
  margin: 0;
  padding: 0;
}

.box {
  width: 340px;
  height: 340px;
  border: 2px solid gray;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.add {
  width: 100%;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  left: 0px;
  bottom: -40px;
  opacity: 0;
  transition: 1.5s;
}

.box:hover .add{
    bottom: 0px;
    opacity: 1;
}